/* @font-face {
font-family: 'Sketch Block Bold';
font-style: normal;
font-weight: normal;
src: local('[free version] Sketch Block Bold'), url('Sketch_Block.woff') format('woff');
} */


@font-face {
font-family: 'Clementine Sketch';
font-style: normal;
font-weight: normal;
src: local('Clementine Sketch'), url('clementine sketch.woff') format('woff');
}
h1{
  font-family:'Clementine Sketch';
}
